root {
    display: block;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family:tahoma,verdana,arial,sans-serif;
    font-size:11px;
    line-height: 1.3;
    color: #333333;
    background-color: yellow;
}
img {border: 0;}
p {margin-top: 0}
a {text-decoration:none;}
a:hover {text-decoration:none;}

.w1000{
    margin: 0px auto;
    width: 1000px;
}

#top{
    width: 100%;
    background: blue;
    height: 40px;
    padding-top: 10px;
}
#top h1 a, h1 a:hover {color: #fff;text-decoration:none;}

#footer{
    width:60%;
    height: 20px;
    margin: 0px auto;
    padding-top: 10px;;
    text-align: center;
    color: #808080;
}
#footer a {color: #808080}
#footer a:hover {color: #333}

.center{
    margin: 0px auto;
    text-align: center;
}
.green {color: green;}
.red{color: red;}
.black {color: black;}
.white{color: white;}
.gray{color: gray;}
.bg-white{background: #fff}
.bg-dadada{background: #dadada}
.bg-f1f1f1{background: #f1f1f1}

h1 { margin: 0px; font-size:22px;}
h2 { margin: 0px; font-size:18px; }
h3 { margin: 0px; font-size:14px;}
h4 { margin: 0px; font-size:12px;}
h5 { margin: 0px; font-size:11px;}
h6 { margin: 0px; font-size:10px;}

.mrg20t{margin-top: 20px}
.mrg10l{margin-left: 10px;}
.mrg10r{margin-right: 10px;}
.mrg10t{margin-top: 10px;}
.mrg10b{margin-bottom: 10px;}
.mrg10{margin: 10px;}
.mrg5l{margin-left: 5px;}
.mrg5r{margin-right: 5px;}
.mrg5t{margin-top: 5px;}
.mrg5b{margin-bottom: 5px;}
.mrg5{margin: 5px;}
.pad5{padding: 5px;}
.fll{float: left}
.flr{float: right}
.in_w{
    float: none;
    left: auto;
    width: auto;
}
.w10{width: 10%;} .ml10{margin-left: 10%}
.w15{width: 15%;} .ml15{margin-left: 15%}
.w20{width: 20%;} .ml20{margin-left: 20%}
.w25{width: 25%;} .ml25{margin-left: 25%}
.w30{width: 30%;} .ml30{margin-left: 30%}
.w35{width: 35%;} .ml35{margin-left: 35%}
.w40{width: 40%;} .ml40{margin-left: 40%}
.w45{width: 45%;} .ml45{margin-left: 45%}
.w50{width: 50%;} .ml50{margin-left: 50%}
.w55{width: 55%;} .ml55{margin-left: 55%}
.w60{width: 60%;} .ml60{margin-left: 60%}
.w65{width: 65%;}
.w70{width: 70%;}
.w75{width: 75%;}
.w80{width: 80%;}
.w85{width: 85%;}
.w90{width: 90%;}
.w100{width: 100%;}
.ofh{overflow: hidden}
.mh600{min-height: 600px}
.mhinherit{min-height: inherit}
.dispin{display: inline}
